
/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500&display=swap");
:root {

    /* colors */
    --bodyBackgroundLite: #dac5c9;
    --bodyBackgroundMed : #c8a7b5;
    --bodyBackground: #eceade;
    --fontTextColor : #674ea7;
    --gray : #bcbcb4;

    /* fonts */
    --dancingFont: 'Dancing Script', cursive;
    --NormalFont: 'Arvo', serif;

    /* fontSize */
    --moreSmallerFontSize : 10px;
    --smallFontSize: 14px;
    --mediumFontSize: 16px;
    --largeFontSize: 40px;

     /*===== Colors =====*/
    --first-color: #272A3A;
    --first-color-light: #8A8EAA;
    --first-color-lighten: #F8F8FC;

    /*===== Font and typography =====*/
    --body-font: 'Ubuntu', sans-serif;
    --normal-font-size: 1rem;
    --smaller-font-size: .813rem;

    
}

html {
    scroll-behavior: smooth !important;
}

body {
    font-family: 'Josefin Sans', sans-serif !important;
    padding: 0 !important;
    -ms-overflow-style: none !important;
    scrollbar-width: none !important;
}

body::-webkit-scrollbar {
    display: none !important;
}

.font-esthetic {
    font-family: 'Sacramento', cursive !important;
    color: #ffffff !important;
}

.font-arabic {
    font-family: 'Noto Naskh Arabic', serif !important;
    color: #ffffff !important;
}

.img-crop {
    width: 14rem;
    height: 14rem;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}

.img-crop>img {
    display: inline;
    margin: 0 auto;
    height: auto;
    width: 100%;
}

.btn-music {
    position: fixed;
    bottom: 9vh !important;
    right: 2vh !important;
    z-index: 1055 !important;
}

.loading-page {
    position: fixed;
    inset: 0 !important;
    width: 100%;
    height: 100%;
    background-color: #eceade;
    z-index: 1056 !important;
}

.card-body {
    overflow-wrap: break-word !important;
}

.mouse-animation {
    padding: 0.25rem 0.625rem;
    height: 2rem;
    border: 0.1rem solid #ffffff;
    border-radius: 1.4rem;
    opacity: 0.75;
    box-sizing: content-box;
}

@keyframes scroll {
    0% {
        opacity: 0;
    }

    10% {
        transform: translateY(0);
        opacity: 1;
    }

    100% {
        transform: translateY(1rem);
        opacity: 0;
    }
}

.mouse-animation>.scroll-animation {
    width: 0.25rem;
    height: 0.625rem;
    border-radius: 25%;
    background-color: #ffffff;
    animation-name: scroll;
    animation-duration: 2.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes spin-icon {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.spin-button {
    animation: spin-icon 5s linear infinite;
}

@keyframes love {
    50% {
        transform: translateY(1rem);
    }
}

.animate-love {
    animation: love 5s ease-in-out infinite;
}

.dark-section {
    background-color: var(--bodyBackground) !important;
    margin-top: -0.5rem;
    margin-bottom: -0.5rem;
}

/* footer {
    background-color: var(--bodyBackground);
    margin-top: -0.5rem;
    padding-bottom: 5rem;
} */


h1.titleName {
    font-family: var(--dancingFont);
    font-weight: bold;
    font-style: normal;
    font-size: 56px;   
    color: var(--fontTextColor);
}
.top-decorations {
    position: relative;
    width: 100%;
    height: auto;
}

.top-right-decoration {
    position: absolute;
    top: 0;
    right: 0;
}

.flower-bg {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.top-left-decoration {
    position: absolute;
    top: 0;
    left: 0;
}


@media (max-width: 768px) {
    .top-left-decoration,
    .top-right-decoration {
        width: 70px; /* Adjust for smaller screens */
        height: auto; 
    }

    .custom-section {
        padding: 20px;
      }
      .custom-section .row {
        display: flex;
        flex-direction: column;
      }
    .arrow-image,
    .falling-image {
        max-width: 200px; /* Adjust the maximum width for smaller screens */
    }
}

.arrow-image {
    
    left: 0; 
    position:absolute; 
    width: auto; 
    height: 200px; 
    transform: rotate(-10deg);
}

.falling-image {
    position: absolute;
        
    right: 0; 
    width: auto; 
    height: 200px; 
}


/* ==========================================================================
Embed video
========================================================================== */
/* #video-bg {
    position: relative;
    width: 100%;
    height: 50px;
    padding-bottom: 56.25%; 
    overflow: hidden;
    pointer-events: none; 
}
#bgndVideo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#video-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    pointer-events: none; 
} */

.colored-icon {
    color: var(--bodyBackgroundMed);
}

.colored-text {
    color: var(--fontTextColor);
    font-size: 0.7rem;  
}


/* events desgin */
.section-padding {
padding: 20px 0;
}

.events {
background-color: #eceade;

border-top-left-radius: 40px;
border-top-right-radius: 40px;
padding: 30px;
box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
.event-box {
background-color: #e5dbd6;
border-radius: 10px;
padding: 20px;
text-align: left;
margin-bottom: 20px;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.event-title {
color: #333;
font-size: 24px;
margin-bottom: 10px;
}
.event-time {
color: #777;
}
.event-description {
color: #555;
margin-top: 10px;
font-size: 16px;
line-height: 1.5;
}
.btn-accent {
background-color: #6c757d;
color: #fff;
border: none;
padding: 10px 20px;
border-radius: 5px;
text-transform: uppercase;
font-weight: bold;
transition: background-color 0.3s;
}
.btn-accent:hover {
background-color: #495057;
}

.event-box {
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.event-box:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

/* Styles for desktop */

.popup {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    overflow: hidden; 
}

.popup-content {
    background-color: var(--bodyBackground);
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
    border-radius: 8px;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: auto;
    font-family: var(--NormalFont);
    color: var(--fontTextColor);
}

.popup-header {
    margin-top: 0;
    text-align: center;
    font-family: var(--dancingFont) !important;
    color: var(--fontTextColor);   
    font-weight: bold;

}

.popup-scroll {
    margin-top: 10px;
    overflow-y: auto; 
    max-height: 200px; 
}

.column {
    position: relative;
    width: calc(50% - 5px);
    padding: 10px;
    box-sizing: border-box;
}

.popup-columns {
    display: flex;
    justify-content: space-between;
    position: relative;
    border: 1px solid #ccc;   
}

.popup-columns::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 1px;
    background-color: #ccc;
    transform: translateX(-50%);
}

.close {
    color: #aaaaaa;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover {
    color: #000;
}

/* Media query for mobile */
@media screen and (max-width: 600px) {
    .popup-content {
        width: 90%;
        max-width: 300px;
    }

    .popup-columns {
        flex-direction: column;
        align-items: center;
    }

    .column {
        width: 100%;
    }

    .popup-columns::before {
        top: 50%;
        height: 1px;
        width: 70%;
        transform: translateY(-50%);
    }
}



/* .page-wrapper {
    position: absolute;
    bottom:10;
    width: 100%;
    z-index: 11111;  
} */

footer p,
footer strong,
footer b,
footer {
    color: #b0b0b0;
}

.footer-top {
    background: var(--bodyBackground);
    background-size: cover;
    background-position: center;
    padding: 20px 0;
    font-family: rubik;
    padding-top: 30px;
}

/* .footer-top,
.footer-bottom {
    background-color: #40ff00;
} */

/* .footer-bottom {
    padding: 15px 0;
    border-top: 1px solid #0339ea;
    background-color: #0ef5f1 !important;
    color: #b0b0b0;
    font-family: rubik;
} */

/* .color {
    color: #99a9b5;
    padding-top: 15px;
} */

.footer-site-info {
    font-size: 92.86%;
    padding-top: 10px;
}

#footer-navigation,
#footer-navigation li a:hover,
.custom-footer,
.custom-footer li a:hover {
    color: white;
}

#footer-navigation,
#footer-navigation li a,
.custom-footer,
.custom-footer li a {
    color: #abf904;
    padding-top: 15px;
}

/* .footer-bottom ul {
    margin: 0;
} */

.inline-inside {
    font-size: 0;
    line-height: 0;
}

.clearfix:after,
.clearfix:before {
    content: "";
    display: table;
}

#footer-menu li {
    display: inline-block;
    padding: 0 21px;
    position: relative;
    line-height: 1;
}

#footer-menu li+li:before {
    content: '';
    width: 0;
    height: 100%;
    position: absolute;
    left: -1px;
    top: 0;
    font-size: 0;
    border-left: 1px solid #232234;
    border-right: 1px solid #333146;
}


footer p,
footer li {
    font-size: 15px;
    line-height: 22px;
}

.widget {
    margin-bottom: 50px;
}

.footer-title {
    margin-bottom: 40px;
    color: #fff;
    font-weight: 500;
    text-transform: capitalize;
    padding-bottom: 15px;
    font-size: 16px;
    position: relative;
}

.footer-title:after {
    width: 50px;
    background: #fff;
    opacity: 0.2;
    height: 1px;
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
}

.gem-contacts-item {
    padding-top: 10px;
    font-size: 15px;
}

.gem-contacts-item i {
    padding-right: 10px;
}

footer .widget ul {
    list-style: none;
    margin-top: 5px;
}

.posts li {
    border-bottom: 1px solid #393d50;
    padding-bottom: 12px;
    padding-top: 6px;
}

.gem-pp-posts-date {
    color: #00bcd4;
    font-size: 89.5%;
}

footer p {
    line-height: 24px;
    margin-bottom: 10px;
    font-size: 15px;
}

.wpcf7-form-control-wrap .wpcf7-form-control {
    padding: 7px!important;
    width: 100%;
}

.wpcf7-form-control-wrap input,
.wpcf7-form-control-wrap textarea {
    background: #d50000;
    overflow: hidden;
    border: 1px solid #2e344d;
    background-color: #1c1f2f;
    box-shadow: 10px 10px 36px rgba(255, 6, 6, 0.5), -13px -13px 23px rgba(255, 255, 255, 0.03);
    border-radius: 5px;
    transition: all 0.3s ease-in-out 0s;
}

.wpcf7-form-control-wrap input:hover,
.wpcf7-form-control-wrap textarea:hover {
    background-color: transparent;
    box-shadow: 10px 10px 36px rgb(0, 0, 0, 0.5), -13px -13px 23px rgba(255, 255, 255, 0.03), inset 14px 14px 70px rgb(0, 0, 0, 0.2), inset -15px -15px 30px rgba(255, 255, 255, 0.04);
    border-color: rgba(255, 255, 255, 0.2);
    color: white;
}

.wpcf7 .wpcf7-form .contact-form-footer textarea {
    height: 160px;
    width: 100%;
}

.wpcf7-form .contact-form-footer .wpcf7-submit {
    width: 100%;
    padding: 11px;
    margin: 0;
    line-height: 0;
    background-color: #1150e4;
    color: #99a9b5;
    border: none;
    cursor: pointer;
    padding: 15px 40px;
    font-size: 14px;
    font-weight: 400;
    transition: all 0.5s;
    letter-spacing: 2px;
    color: rgba(255, 255, 255, 0.5);
    box-shadow: none;
    text-transform: uppercase;
    outline: none !important;
    border-radius: 5px;
    min-width: 140px;
    box-shadow: 3px 9px 16px rgb(0, 0, 0, 0.4), -3px -3px 10px rgba(255, 255, 255, 0.06), inset 14px 14px 26px rgb(0, 0, 0, 0.3), inset -3px -3px 15px rgba(255, 255, 255, 0.05);
    border-width: 1px 0px 0px 1px;
    border-style: solid;
    border-color: #2e344d;
    transition: all 0.3s ease-in-out 0s;
}

.posts li a {
    color: #99a9b5;
}

.wpcf7-form .contact-form-footer .wpcf7-submit:hover {
    box-shadow: 0 0px 20px rgba(84, 1, 74, 0.7);
    border-color: rgba(255, 6, 224, 0.61);
    background: linear-gradient(to right, rgba(255, 9, 9, 0.12941176470588237), #c000ffb5, rgba(255, 0, 94, 0.14));
    color: white;
}

img {
    border-style: none;
    height: auto;
    max-width: 100%;
    border-radius: 10%;
    vertical-align: middle;
}

.widget_gallery a {
    display: inline-block;
}

footer .widget ul {
    list-style: none;
    margin-top: 5px;
}

.widget_gallery ul {
    padding-left: 0;
    display: table;
}

.widget_gallery li {
    display: inline-block;
    width: 33.33%;
    float: left;
    transition: all 0.5s;    
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;

    padding: 2px;
}

.widget_gallery.gallery-grid-4 li {
    width: 30%;
}

#waterdrop {
    height: 30px;
}

#waterdrop canvas {
    bottom: -70px !important;
}

.footer-site-info {
    padding-top: 10px;
}

/* Mobile Styles */
@media only screen and (max-width: 767px) {
    .footer-top .container {
      padding: 20px 15px;
    }
    
    .footer-col-3, .footer-col-4 {
      margin-bottom: 30px;
    }
    
    .footer-bottom .container {
      padding: 20px 15px;
    }
    
    .footer-title {
      font-size: 18px;
    }
    
    .gem-contacts-item {
      font-size: 14px;
    }
    
    .widget_gallery.gallery-grid-4 li {
      width: 50%;
      float: none;
      margin-bottom: 10px;
    }
    
    #footer-menu {
      text-align: center;
      margin-top: 20px;
    }
    
    #footer-menu li {
      display: inline-block;
      margin: 0 10px;
    }
    
    .socials-item {
      margin: 0 5px;
    }
  }


 
  /* Custom Styles for food Popup */
.modal-dialog {
    max-width: 600px; 
}

.modal-header .modal-title {
    display: inline-block;
    font-size: 28px; 
}

.modal-header .close {
    margin-left: auto;
}

.popup-scroll {
    max-height: 300px;
    overflow-y: auto;
}


.popup-scroll::-webkit-scrollbar {
    width: 6px; 
}

.popup-scroll::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

.popup-scroll::-webkit-scrollbar-thumb {
    background: var(--bodyBackgroundMed) 
}

.popup-scroll::-webkit-scrollbar-thumb:hover {
    background: var(--bodyBackgroundLite); 
}

.menu-title {
    font-size: 24px; 
    margin-bottom: 10px;
}

.food-item {
    margin-bottom: 10px;
    font-size: 20px; 
    text-align: center;
    margin-top: 10px;
}

.bride-mandapam {
    color: #ff69b4;
}

.groom-mandapam {
    color: #1e90ff; 
}

.col-4 {
    padding: 5px; 
    display: flex;
    align-items: center;
}

.col-4 i {
    margin-right: 4px; 
    color: #685b87;
    font-size: 8px; 
    font: weight 10px;
}


.food-icon {
    font-size: 20px; 
    color: #907cc0;
    font: weight 10px;
}


 /* Overlay styles */
.moverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; /* Ensure the overlay is on top of other elements */
  }
  
  /* Loader animation styles */
  .mloader {
    border: 6px solid #f3f3f3; /* Light grey */
    border-top: 6px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: mspin 2s linear infinite;
  }
  
  @keyframes mspin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

.comments {
    max-width: 600px;
    margin: 0 auto;
    padding: 0;
    list-style: none;
}

.mcomment {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 15px;
    padding: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.mcomment-header {
    margin-bottom: 10px;
    font-size: 0.9em;
    color: #555;
    display: flex;
    align-items: flex-start; 
}

.mcomment-header-text {
    display: flex;
    flex-direction: column;
    margin-left: 5px;
    font-size: 0.8em;
}

.mavatar {
    border-radius: 50%;
    size: 120;
}

.musername {
    font-weight: bold;
    margin-right: 20px;
    font-size: 1.3em;
}


.mdate {
    color: #999;   
    font-size: 1.0em;
    margin-top: 5px; 
}

.mcomment-body {
    font-size: 1em;
    line-height: 1.6;
    color: #333;
}

.comment-input-container {
    display: flex;
    max-width: 600px;
    margin: 0 auto 20px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.comment-input {
    flex-grow: 1;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    font-size: 1em;
    outline: none;
    margin-right: 10px;
    background-color: unset;
}

.send-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.send-button:hover {
    background-color: #0056b3;
}