:root {
  /* colors */
  --bodyBackgroundLite: #dac5c9;
  --bodyBackgroundMed : #c8a7b5;
  --bodyBackground: #eceade;
  --fontTextColor : #674ea7;
  --gray : #bcbcb4;

  /* fonts */
  --dancingFont: 'Dancing Script', cursive;

  /* fontSize */
  --moreSmallerFontSize : 10px;
  --smallFontSize: 14px;
  --mediumFontSize: 16px;
  --largeFontSize: 40px;
  
}

.sidebar {
    height: 100%;
    width: 250px;
    color: var(--bodyBackground)!important;
  }

  
  .content {
    padding: 20px;
  }

 
  .modal.right .modal-dialog {
    position: fixed;
    top: 0;
    right: 0;
    margin: 0;
    height: 100%;
    width: 300px; 
    max-width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    color: #674ea7;
  }

  .modal.right .modal-content {
    height: 100%;
    border: 0;
    border-radius: 0;
  }

  /* Adjust tab styles */
  .nav-tabs .nav-item {
    width: 50%;
    text-align: center;
    font-family: var(--dancingFont);
  }

  .nav-tabs .nav-link {
    color: #495057; 
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
  }

  .nav-tabs .nav-link.active {
    color: #fff; 
    background-color: #c8a7b5; 
    border-color: #c8a7b5; 
  }

 .filter-section {
  display: none;
  transition: all 0.3s ease-in-out;
}
.filter-icon {
  cursor: pointer;
}
.filter-section.active {
  display: block;
  width: 100%;
}

#filterBtn {
  margin-top: 10px;
  background-color: #674ea7;
}

#filterBtn.btn-block {
  width: 100%;
}


.custom-input-group {
  margin-top: 10px;
}

.custom-input-group .input-group-prepend .input-group-text {
  border-radius: 0;
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

.custom-input-group .input-group-append .input-group-text {
  border-radius: 0;
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}
 

.modal-footer {
  position: relative;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  background-color: var(--bodyBackground) !important;
  padding: 10px 20px;
}


.modal-content.with-filter {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 200px);
  justify-content: space-between;
}


::-webkit-scrollbar {
  width: 10px; 
}

::-webkit-scrollbar-thumb {
    background-color: #dac5c9; 
    border-radius: 5px;
}

::-webkit-scrollbar-track {
    background-color: #eceade; 
}